{% extends "layout.html" %}
{% block page_title %}FAQs{% endblock %}
{% block body %}
{{ super() }}

These are frequently asked questions by students.

<hr>
<h4>Question 1?</h4>
Answer 1
<hr>
<h4>Question 2?</h4>
Answer 2
<hr>
<h4>Question 3?</h4>
Answer 3
<hr>
{% endblock %}