{% extends "index.html" %}

{% block content %}

<div class="container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group" style="width: 40%;">
                {{ form.taskName.label(class="form-control-label") }}
                {{ form.taskName(class="form-control form- control-lg") }}
            </div>
            <div class="form-group">
                {{ form.endDate.label(class="form-control-label") }}
                {{ form.endDate(class="form-control form- control-lg") }}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {{ form.description(class="form-control form- control-lg", rows="5") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outling-info") }}
        </div>
    </form>
</div>

{% endblock %}
