<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Personal To-do List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>

<header>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h4 class="my-0 mr-md-auto font-weight-normal">Personal Organiser</h4>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/viewTasks">View active tasks</a>
        <a class="p-2 text-dark" href="/viewCompleteTasks">View completed task</a>
      </nav>
      <a class="btn btn-outline-primary" href="/createNew">Create new</a>
    </div>
</header>

<body class = "body">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="container">
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>










</html>
