{% extends "index.html" %}

{% block content %}
{% if isData %}
<div class="container">
  <h2>Your todo list</h2>
  <table class="table table-hover " style="word-wrap: break-word;;max-width: 1120px;">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Due date</th>
        <th class="text-center">Mark complete</th>
      </tr>
    </thead>
    <tbody>
      {% for task in data %}
        <tr>
          <td>{{ task[1] }}</td>
          <td style="word-wrap: break-word;;max-width: 750px;">{{ task[2] }}</td>
          <td>{{ task[3] }}</td>
          <td>
            <center>
                <a class="btn btn-outline-success" href="/viewTasks/MarkComplete/{{ task[0] }}">
                    <i class="fas fa-check"></i>
                </a>
            </center>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endblock %}
