{% extends "index.html" %}

{% block content %}
<div class="container">
  <h2>Your Completed Tasks</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Due date</th>
      </tr>
    </thead>
    <tbody>
      {% for task in data %}
        <tr>
          <td>{{ task[1] }}</td>
          <td style="word-wrap: break-word;;max-width: 850px;">{{ task[2] }}</td>
          <td>{{ task[3] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
