{% extends "layout.html" %}
{% block page_title %}Welcome{% endblock %}
{% block body %}
{{ super() }}

<p>This is a mental health app from the university of leeds</p>
<ul>
    <li>FAQs - This page has frequently asked questons and answers from lots of users </li>
    <li>Reminders - Here you can add or delete reminders for yourself to keep yourself organised</li>
    <li>Timetable - Here you can see your university timetable</li>
    <li>Live Chat - This button redirects you to the nightline page </li>

</ul>

{% endblock %}