 {% extends "layout.html" %}
    {% block page_title %}Timetable{% endblock %}
    {% block body %}
    {{ super() }}
    <div class="col-lg-6">
        <h3>Weekly Timetable</h3><table>
<thead><tr><th>Time</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th></tr></thead>
<tbody>
<tr><td>9:00</td><td>lecture1</td><td>lecture 2</td><td>lecture 3</td><td>lecture 4</td><td>lecture 5</td></tr>
<tr><td>10:00</td><td>lecture1</td><td>lecture 2</td><td>lecture 3</td><td>lecture 4</td><td>lecture 5</td></tr>
<tr><td>11:00</td><td>lecture1</td><td>lecture 2</td><td>lecture 3</td><td>lecture 4</td><td>lecture 5</td></tr>
</tbody>
</table></div>
    {% endblock %}